/*-------------------------------------------------------------------------------------------------
 - Default
---------------------------------------------------------------------------------------------------*/
html,body{
    width: 100%;
    height: auto;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
}
a{
    text-decoration: none;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    color: #daa520;
}
a:hover, a:focus{
    text-decoration: none;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    color: #111111;
}
p{
    color: #727272;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1,h2, h3, h4, h5, h6{
    color: #232323;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 15px;

}
/*-------------------------------------------------------------------------------------------------
 - global
---------------------------------------------------------------------------------------------------*/
#wrapper{
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}
.right{
    float: right;
}
.left{
    float: left;
}
.nopad{
    padding: 0;
}
.nomarg{
    margin: 0;
}
.pad-10{
    padding: 0 10px;
}
.marg-10{
    margin: 0 -10px;
}
.marg-5{
    margin: 0 -5px;
}
.pad-5{
    padding:0 5px;
}

.padd-inner{
    padding: 75px 0 100px;
}
.text-center{
    text-align: center;
}
.alleft{
    text-align: left;
}
.alright{
    text-align: right;
}
.div-table{
    display: table;
    width: 100%;
    position: relative;
}
.div-table-cell{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.btn-gold, .btn-gold:focus{
    padding: 10px 30px;
    background: #daa520;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.btn-dark, .btn-dark:focus{
    padding: 10px 30px;
    background: #111;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.btn-dark:hover{
    color: #fff;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    background: #000;
}
.btn-gold:hover{
    color: #fff;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    background: #bd8b0c;
}
.darker{
    background: rgba(0,0,0, .5);
}
.img-effect{
    position: relative;
    overflow: hidden;
}
.img-effect img{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
	transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img-effect:hover img{
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
	transform: scale(1.3);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img-effect-hover{
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    background: rgba(0,0,0, .7);
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-effect:hover .img-effect-hover{
    top: 0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-effect-hover .div-table{
    height: 100%;
}
.img-effect-hover .div-table-cell{
    vertical-align: middle;
}
.img-effect-hover a{
    color: #fff;
    margin: 3px;
}
.img-effect-hover a i{
    font-size: 28px;
}
.item{
    outline: none;
    cursor: pointer;
}
/*-------------------------------------------------------------------------------------------------
 - header
---------------------------------------------------------------------------------------------------*/
header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
.header-inner{
    background: rgba(0,0,0, .7);
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;

}
.fixed .header-inner{
    background: #373644;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.fixed{
    position: fixed;
    z-index: 999;

}
/*-------------------------------------------------------------------------------------------------
 - logo
---------------------------------------------------------------------------------------------------*/
.logo{
    padding: 15px 0
}


.fixed .logo img{
    height: 40px;
}

/*-------------------------------------------------------------------------------------------------
 - navbar
---------------------------------------------------------------------------------------------------*/
.navbar-default.menu {
    background: none;
    border: 0;
    display: inline-block;
    border-radius: 0;
    min-height: 0px;
    margin-bottom: 0px;
}
.navbar-default.menu .navbar-nav>li>a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #daa520;
    background: none;
}
.menu .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    padding:10px;
    margin: 0;
    font-size: 13px;
    text-align: left;
    list-style: none;
    background: #fafafa;
    border-top: 5px solid #daa520;
    border-radius: 0;
    box-shadow: 0;
}
.menu .dropdown-menu li {
    border-bottom: 1px solid #dedede;
}
.menu .dropdown-menu li a{
    padding: 10px 0;
    color: #282828;
    font-weight: 600;
}
.menu .dropdown-menu li a:hover{
    background: none;
    color: #daa520;
}
/*-------------------------------------------------------------------------------------------------
 - slider
---------------------------------------------------------------------------------------------------*/
.slider-section{
    position: relative;
}
.slider-desc{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, .5);
}
.slider-desc .div-table{
    height: 100%;
}
.slider-desc h1{
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.slider-desc p{
    color: #d0cdc8;
    margin:0 auto 30px;
    max-width: 580px;
}

.page-header{
    padding: 0;
    background: url(images/slide-2.jpg)no-repeat;
    margin:0;
    border: 0;
    background-size: cover;
    background-attachment: fixed;
}
.page-header .darker{
    padding: 165px 0 80px;
}
.page-header h1{
    color: #fff;
}
.page-header h1 span{
    font-size: 14px;
    font-style: italic;
    color: #ddd9d6;
    display: block;
    letter-spacing: 2px;
}
/*-------------------------------------------------------------------------------------------------
 - about
---------------------------------------------------------------------------------------------------*/
.about-section{
    background: #f5f4f0;
    position: relative;
    z-index: 3;
}
.about-inner{
    background: #fff;
    padding: 0 0px 110px;
    position: relative;
}
.about-inner:before{
    background: #fff;
    content: '';
    bottom: 100%;
    left: 0;
    height: 55px;
    width: 100%;
    z-index: 2;
    position: absolute;
}
.about-inner h1{
    color: #000;
    margin-bottom: 60px;
}
.about-inner h1 span{
    font-size: 14px;
    font-style: italic;
    color: #898989;
    display: block;
    letter-spacing: 2px;
}
.about-quote{
    font-size: 30px;
    color: #000;
    font-weight: 400;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    padding: 0 70px;
}
.about-quote .name{
    font-size: 14px;
    color: #898989;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin-top: 45px;
}
.about-inner .div-table-cell{
    float: none;
}
.about-desc .excerpt{
    margin-bottom: 60px;
}
.book-offers{
    padding: 75px 30px;
    background: #fafafa;
    position: relative;
}
.book-offers:after{
    background: #fafafa;
    content: '';
    top: 100%;
    left: 0;
    height: 55px;
    width: 100%;
    z-index: 2;
    position: absolute;
}
.book-offers form .step{
    font-size: 30px;
    color: #000;
    font-family: 'Playfair Display', serif;
}
.book-offers form select, .book-offers form select:focus{
    display: inline-block;
    width: auto;
    font-size: 30px;
    color: #000;
    font-family: 'Playfair Display', serif;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    height: auto;
    outline: none;
    color: #daa520;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    cursor: pointer;

}
.book-offers form input, .book-offers form input:focus {
    width: 180px;
    display: inline-block;
    font-size: 30px;
    color: #000;
    font-family: 'Playfair Display', serif;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    height: auto;
    outline: none;
    color: #daa520;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    cursor: pointer;
    text-align: center;
}
.book-offers form #timepicker{
    width: 120px;
}
.book-offers .btn{
    margin-top: 70px;
}
/*-------------------------------------------------------------------------------------------------
 - speciality
---------------------------------------------------------------------------------------------------*/
.speciality{
    background: url(images/speciality.jpg)no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.speciality-inner{
    padding: 250px 0;
}
.speciality-inner h1{
    color: #fff;
    margin-bottom: 60px;
}
.speciality-inner h1 span{
    font-size: 14px;
    font-style: italic;
    color: #ddd9d6;
    display: block;
    letter-spacing: 2px;
}
.speciality-items{
    background: #f5f4f0;
}
.speciality-items-inner{
    position: relative;
    margin-top: -55px;
    margin-bottom: -55px;
    width: 100%;
    height: auto;
    z-index: 100;
}
.speciality-item .div-table-cell{
    float: none;
}
.speciality-item .speciality-item-desc{
    background: #fff;
}
.speciality-item-desc-inner{
    padding: 15px 35px;
}
.speciality-item-desc-inner h4{
    margin-bottom: 15px;
}
.div-table-cell.speciality-item-img img{
    width: 100%;
}
/*-------------------------------------------------------------------------------------------------
 - menu
---------------------------------------------------------------------------------------------------*/
.menu{
    background: url(images/slide-1.jpg)no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.menu-inner{
    padding: 250px 0;
}
.menu-inner h1{
    color: #fff;
    margin-bottom: 60px;
}
.menu-inner h1 span{
    font-size: 14px;
    font-style: italic;
    color: #ddd9d6;
    display: block;
    letter-spacing: 2px;
}
.menu-items{
    background: #f5f4f0;
}
.menu-items-inner{
    position: relative;
    background: #fff;
}
.menu-items-inner:before{
    background: #fff;
    content: '';
    bottom: 100%;
    left: 0;
    height: 55px;
    width: 100%;
    z-index: 2;
    position: absolute;
}
.menu-items-inner:after{
    background: #fff;
    content: '';
    top: 100%;
    left: 0;
    height: 55px;
    width: 100%;
    z-index: 2;
    position: absolute;
}
.menu-item-iner{
    padding: 15px 30px;
}
.menu-item h3{
    margin-bottom: 50px;
}
.menu-item h5{
    margin-bottom: 15px;
    color: #111;
}
.menu-item p{
    font-size: 13px;
}
.menu-item h5 a{
    color: #111;
}
.menu-price{
    font-weight: 600;
    color: #daa520;
    font-size: 16px;
    text-align: right;
}
.menu-marg{
    margin-bottom: 5px;
}
.menu-items-inner .btn-gold{
    margin-top: 85px;
}
/*-------------------------------------------------------------------------------------------------
 - location
---------------------------------------------------------------------------------------------------*/
.location{
    background: url(images/slide-2.jpg)no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.location-inner{
    padding: 250px 0;
}
.location-inner h1{
    color: #fff;
    margin-bottom: 60px;
}
.location-inner h1 span{
    font-size: 14px;
    font-style: italic;
    color: #ddd9d6;
    display: block;
    letter-spacing: 2px;
}
.location-detail{
    background: #f5f4f0;
}

.location-detail-inner .div-table{
    border: 1px solid #dfdfdf;
}
.location-detail-inner .div-table-cell{
    float: none;
}
.location-detail-inner{
    position: relative;
    margin-top: -55px;
    margin-bottom: -55px;
    width: 100%;
    height: auto;
    z-index: 100;
}
.location-detail-desc, .location-detail-map{
    background: #fff;
    border-right: 1px solid #dfdfdf;
}
.location-detail-desc-inner{
    padding: 20px 40px;
}
.location-detail-desc-inner h5{
    margin-bottom: 25px;
}
.loc-det{
    margin-bottom: 35px;
}
/*-------------------------------------------------------------------------------------------------
 - product
---------------------------------------------------------------------------------------------------*/
.title-with-line{
    position: relative;
    height: 1px;
    width: 100%;
    background: #efefef;
    margin: 80px 0;
}
.title-with-line h2{
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;

}
.title-with-line h2 span{
    padding: 10px 15px;
    background: #fff;

}
.product-item{
    padding: 40px 0;
    border-bottom: 1px solid #efefef;
    margin-bottom: 60px;
}
.product-item h4{
    margin: 20px 0;
}
.product-item .product-price{
    margin: 20px 0;
    font-size: 18px;
    color: #111;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.shop-detail-items{
    padding: 80px;
}
.shop-detail-item .right-content h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.shop-detail-item .right-content span {
    font-size: 10px;
    color: #111;
    text-transform: uppercase;
}
.shop-detail-item .right-content .price {

}
.shop-detail-item .right-content .price p {
    color: #111;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}
.shop-detail-item .right-content .pricep p span{
    display: block;
    text-decoration: line-through;
    color: #fff;
    line-height: normal;
}
.shop-detail-item {
    margin-bottom: 30px;
}
.shop-detail-item .thumb-holder {
    position: relative;
}
.shop-detail-item .thumb-holder img {
    width: 100%;
}
.shop-detail-item .thumb-holder .hover-content {
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}
.shop-detail-item .right-content {
    position: relative;
    background-color: #fafafa;
    padding: 20px;
}
.shop-detail-item .right-content .description {
    margin-top: 30px;
}
.shop-detail-item .right-content .description p{
    margin-bottom: 15px;
    font-size: 13px;
}
.right-content .btn-bordered{
    color: #fff;
}
.right-content .social-icons{
    padding: 0;
    margin: 30px 0;
    list-style: none;
    clear: both;
    overflow: hidden;
}
.right-content .social-icons li{
    float: left;
    margin: 0 3px 10px;
}
.right-content .social-icons li a{
    display: block;
    padding: 7px 10px;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    line-height: normal;
}
.right-content .social-icons li.facebook a{
    background-color: #4862a3;
}
.right-content .social-icons li.twitter a{
    background-color: #40bff5;
}
.right-content .social-icons li.google a{
    background-color: #eb5b4c;
}
.right-content .social-icons li.youtube a{
    background-color: #cd322c;
}
.right-content .social-icons li.flickr a{
    background-color: #ff1981;
}
.right-content .social-icons li.email a{
    background-color: #324e79;
}
.qty{
    max-width: 65px;
}
.qty label{
    color: #111;
    margin: 10px 0;
}
.qty input, .qty input:focus {
    border-radius: 0;
    outline: none;
    height: 45px;
    border-color: #333;
    box-shadow: none;
    position: relative;
    background: none;
    font-family: 'Montserrat', serif;
}
.shop-detail-item .div-table{
    height: 100%;
}
.shop-detail-item .div-table-cell{
    vertical-align: middle;
}
.shop-detail-item{
    background-color: #fafafa;
}

.shop-detail-items .tab .tab-content ul {
  padding: 0;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}
.shop-detail-items .tab .tab-content ul li {
  margin-bottom: 8px;
  display: block;
}
.shop-detail-items .review-form input, .shop-detail-item .review-form input:focus {
    border-radius: 0;
    outline: none;
    height: 45px;
    border-color: #333;
    box-shadow: none;
    position: relative;
    background: #fff;
}
.shop-detail-items .review-form textarea, .shop-detail-item .review-form textarea:focus {
    border-radius: 0;
    outline: none;
    border-color: #333;
    box-shadow: none;
    position: relative;
    background: #fff;
}
.shop-detail-items  .reviewer{
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 15px;
}
.shop-detail-items  .review-form h3{
    font-weight: 700;
    margin: 15px 0 30px;
}
.shop-detail-items .rate span{
    margin: 10px 0 10px;
    display: block;
    font-weight: 700;
}
.shop-detail-items .starwrap i{
    color: #FFDF00;
}
.shop-detail-items .main-title span {
    color: #6f5499;
}
.shop-detail-items .text-center .excerpt {
    max-width: 815px;
    margin: 0 auto 75px;
}
.shop-detail-items .tab{
    margin: 0 auto 75px;
}
.shop-detail-items .nav-tabs>li>a {
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    color: #fff;
    background: #111;
    padding: 15px 35px;
    font-weight: 600;
}
.shop-detail-items .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background: #daa520;
    border: 0;

}
.shop-detail-items .tab-content {
    background: #fafafa;
    padding: 40px;
}
.shop-detail-items .nav-tabs {
    border: 0;
}

.cart-trig{
    position: relative;
    display: inline-block;
}
.cart-trig i{
    font-size: 20px;
    color: #fff;
}
.cart-int{
    position: absolute;
    font-weight: 600;
    color: #fff;
    background: #daa520;
    line-height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    top: -20px;
    right: -20px;
}
.cart-box{
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    padding: 30px;
    width: 580px;
    display: none;
}
.mini-cart{
    position: relative;
}
.cart .img-product img{
    max-width: 60px;
}
.cart table, .cart table th{
    text-align: center;
}
.cart table td{
    vertical-align: middle !important;
}
.cart table td h5{
    margin: 0;
}
/*-------------------------------------------------------------------------------------------------
 - location
---------------------------------------------------------------------------------------------------*/
footer{
    background: #fff;
}
.footer-widget{
    padding: 120px 0 80px;
    background: #fafafa;
}
.widget h3{
    margin-bottom: 20px;
}
.widget ul{
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
}
.widget ul li{
    margin-bottom: 10px;
}
.widget ul li a{
    color: #000;
    font-weight: 600;
}
.footer-credits{
    padding: 15px 0 45px;
}
.ftlogo{
    height: 80px;
    opacity: .6;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.footer-credits p{
    font-size: 13px;
}
/*-------------------------------------------------------------------------------------------------
 - loader
---------------------------------------------------------------------------------------------------*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999998;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #daa520;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 999997;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

@media (max-width:1194px){
    .logo{
        display: inline-block;
    }
    .logo img{
        height: 60px;
    }
    .header-inner .div-table-cell{
        display: block;
        text-align: center;
    }
    .header-inner .div-table-cell.mini-cart{
        display: none;
    }
}
@media (max-width:980px){
    .slider-desc .excerpt{
        display: none;
    }
    .speciality-item .speciality-item-desc, .speciality-item .speciality-item-img{
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .about-inner .div-table{
        margin: 0;
    }
    .about-inner .div-table-cell{
        display: block;
        padding: 0;
    }
    .about-desc, .about-quote{
        padding: 30px;
        text-align: center;
    }
    .speciality-inner, .menu-inner, .location-inner {
        padding: 100px 0;
    }
    .location-detail-inner .div-table-cell{
        display: block;
    }
    .footer-widget .col-md-3{
        width: 50%;
        float: left;
    }
    .footer-credits a{
        display: block;
        text-align: center;
        padding: 10px 0;

    }
    .footer-credits .col-md-3{
        text-align: center;
    }
    .shop-detail-item .div-table-cell{
        display: block;
        width: 100%;
    }
}
@media (max-width:766px){
    .header-inner .div-table-cell.alright{
        text-align: right;
    }
    .navbar-default.menu{
        width: 100%;
        text-align: center;
    }
    .navbar-toggle{
        margin: 10px 0;
        background: #daa520;
        color: #fff;
        outline: none;
        border-radius: 0;
        border: 0;
    }
    .navbar-default .navbar-toggle .icon-bar{
        color: #fff;
        background: #fff;
    }
    .nav-tabs>li{
        float: none;
        text-align: center;
    }

}
@media (max-width:713px){
    .slider-desc{
        display: none;
    }
}
@media (max-width:480px){
    .footer-widget .col-md-3{
        width: 100%;
        float: none;
        margin-bottom: 20px;
        text-align: center;
    }
    .shop-detail-items{
        padding:50px 20px;
    }
}
